.add-heart{
    filter: contrast(1) !important;
}

.appear{
    animation: appear 0.2s forwards !important;
}

.pop{
  animation: pop 0.2s linear forwards; 
}

.fade-out{
  animation:fade-out 0.2s ease-in 2s forwards;
}

.highlight{
  color: #ff5900fc;
}

.slide-left{
  animation: slideL 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slide-right{
  animation: slideR 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


@keyframes pop {
  from{
    transform: scale(1.02);
    
  }
  to{
    transform: scale(1);
    
  }
}



@keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0.9);
      
    }
    100% {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      transform: scale(0.9);
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes slideR {
    from {
      transform: translateX();
    }
    to {
      transform: translateX(50px);
      opacity: 0;
    }
  }

  @keyframes slideL {
    from {
      transform: translateX();
    }
    to {
      transform: translateX(-50px);
      opacity: 0;
    }
  }