.add-heart{
    filter: contrast(1) !important;
}

.appear{
    animation: appear 0.5s forwards ;
}

.pop{
  animation: pop 1s linear forwards; 
}

.fade-out{
  animation:fade-out 0.2s ease-in 2s forwards;
}

.highlight{
  color: #ff5900fc;
}

@keyframes pop {
  from{
    transform: scale(0.5);
    
  }
  to{
    transform: scale(1);
    
  }
}



@keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0.9);
      visibility: hidden;
    }
    100% {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      transform: scale(0.9);
      opacity: 0;
      visibility: hidden;
    }
  }
  
  
  