@media screen and (orientation: landscape) and (min-width: 1200px) {
    div#index-content{
        
    }
}

@media screen and (orientation: portrait) and (max-width: 800px){
    div#index-content{
        width: 100%;
    }
    div#main-screen{
    flex-direction: column;
    }

    div#exclusive-offers{
        width: 100%;
    }

    #container {
        grid-template-columns: repeat(1, 1fr);
        
        
      }
}


