@import url(./css/normalize.css);
@import url(./css/font.css);


body{
    box-sizing: border-box;
    background: rgb(159,158,166);
    background: linear-gradient(90deg, rgba(159,158,166,1) 0%, rgba(218,218,224,1) 33%, rgba(228,235,236,1) 100%);

}


nav{
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    background: rgb(154, 120, 76);
    background: linear-gradient(90deg, rgba(154,120,76,0.4) 0%, rgba(193,135,98,0.141631652661064) 77%);
    margin: 10px auto;
    width: 95%;
    height: 4rem;
}


ul {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    list-style: none;
    
    
}

ul li{
    cursor: pointer;
    font-family: comf-l;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0 10px;
    display: inline-block;
}

div#index-content{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    width: 80%;
    height: 40vh;
    max-height: 690px;
    overflow: hidden;
    
    
}

div.content_box-animation-slide{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 102%;
    height: 100%;
    animation-fill-mode: forwards;  
    transition: 1s;
}

div.content_box-animation-slide:nth-child(1){
    transform: translateX(0%);
    
}
div.content_box-animation-slide:nth-child(2){
    transform: translateX(100%); 
}

.slide-hidden{
    animation: sliderXa 1s ease-in;
}
.slide-show{
    animation: sliderXb 1s ease-in;
}

.content_image{
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
}

.image_info{
align-items: center;
background-color: rgba(2, 1, 1, 0.678);
color: aliceblue;
display: flex;
flex-direction: column;
font-family: roboto-l;
font-size: .9rem;
height: 100%;
justify-content: center;
position: absolute;
text-align: center;
transition: 0.2s;
width: 100%;
}

.image_info p{ 
    padding: 10px
}
    
img{
 aspect-ratio: 2/3;
 object-fit: cover;
 width: 100%;
 height: 100%;
 transition: 0.5s;

 
 
}

.index-info{
    margin: 20px auto;
    width: 80%;
    height: 100vh;
    background-color: rgba(72, 79, 85, 0.616);
}

.index-info .index-info_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}

.index-info .index-info_header button{
    outline-style: none;
    border-style: none;
}

.index-info .index-info_header input{
    
    border-style: none;
    
}




/* SELECTORS*/

.content_image:nth-child(1) > .image_info,
.content_image:nth-child(3) > .image_info
{
    transform: translateY(100%);
}

.content_image:nth-child(2) > .image_info{
    transform: translateY(-100%);
}


.content_image:hover > .image_info{
    transform: translate(0,0);
}



nav ul li:nth-child(2){
    border-bottom: solid black 1px;
}


/* --------------*/


    @keyframes sliderXa {
        from {transform: translateX(0%);}
        to {transform: translateX(-100%); visibility: hidden;}
    }

    @keyframes sliderXb {
        from {transform: translateX(100%);}
        to {transform: translateX(0%);}
    }