:root{
    font-size: 16px;
    --price-font: 1.2rem;
    --description-font: 1rem;
    --title-font: 1.5rem;
    --nav-font: 0.9rem;
    --buy-font: 1.2rem;

    /*Color Palette */
    --pink: ;
}

    
/* Aplicar a todos los elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

div#modal-favorites{
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(245,206,205);
    background: -moz-radial-gradient(circle, rgba(245,206,205,1) 19%, rgba(240,186,184,1) 95%);
    background: -webkit-radial-gradient(circle, rgba(245,206,205,1) 19%, rgba(240,186,184,1) 95%);
    background: radial-gradient(circle, rgba(245,206,205,1) 19%, rgba(240,186,184,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5cecd",endColorstr="#f0bab8",GradientType=1);   
    position: fixed;
    width: 400px;
    height: 200px;
    right: 10px;
    top: calc(100vh - 220px);
    z-index: 1000000;
    visibility: hidden;
    transform: scale(1);
    
}



body{
    position: relative;
    background: rgb(220, 219, 223);
    

}
svg#shape-main{
    fill: #f0bab8;
    transform: translateY(-10%);
    z-index: -110000;
    position: absolute;
    margin: auto;
    display: block;
    
}


nav{
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    background: #121111d9;
    margin: 6px auto;
    width: 95%;
    height: 4rem;
}

nav img{
    width: 10%;
    border-radius: 100%;
    
}

div#index-content{
    margin: 10px auto;
    width: 84%;
    height: calc(100vh - 100px);
    background-color: bisque;
}

.index-info-search{
    margin: 20px auto;
    width: 100%;
    height: 100vh;
    
}

.index-info-search ._search-info-header {
    background: #f0bab8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 100%;
}

.index-info-search ._search-info-header .__block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.index-info-search ._search-info-header button{
    cursor: pointer;
    font-family: roboto-m;
    padding: 10px;
    color: #1d100f;
    border: none;
    background-color: rgb(255, 254, 254);
}

.index-info-search ._search-info-header input{
    width: 50%;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 10px;
    background-color: rgba(24, 22, 22, 0.863);
    border: rgba(248, 179, 179, 0.897) 1px solid;
    color: aliceblue;
    outline-style: none;
    
}.index-info-search ._search-info-header ul{
    padding: 20px;
    
}

.index-info-search ._search-info-header ul li{
    color: rgb(62, 58, 51);
    font-size: 1rem;
    margin: 6px;
    
    
}
.index-info-search ._search-info-header ._filters{
    width: 100%;
    height: 100%;
    
}



/* SELECTORS*/

.content_image:nth-child(1) > .image_info,
.content_image:nth-child(3) > .image_info
{
    transform: translateY(100%);
}

.content_image:nth-child(2) > .image_info{
    transform: translateY(-100%);
}


.content_image:hover > .image_info{
    transform: translate(0,0);
}



nav ul li:nth-child(2){
    border-bottom: solid black 1px;
}


/* --------------*/


#container {
    padding: 20px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    background: #121111d9;
    width: 100%;
    
  }

  .container-results {
    border-radius: 20px;
    background-color: rgb(228, 223, 220);
    display: flex;
    flex-direction: column;
    
  }

  .container-results ._image-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }

  ._image-container{
    position: relative;
    
    
  }
  

  ._image-container img:nth-child(1) {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20%;
    top: 16px;
    cursor: pointer;
    transition: 0.2s;
    filter: contrast(0.3);
  }


  ._image-container img:nth-child(2) {
    aspect-ratio: 4/4;
    width: 60%;
    box-shadow: -10px 12px 12px -7px rgba(0,0,0,0.44);
    -webkit-box-shadow: -10px 12px 12px -7px rgba(0,0,0,0.44);
    -moz-box-shadow: -10px 12px 12px -7px rgba(0,0,0,0.44);
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1)
  }

  /* ._image-container img:nth-child(2):hover {
    border-radius: 100%;
    transform: scale(120%);
  } */

._results-product-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    height: 100%;
}

._results-product-header h1{
    color: rgb(253, 250, 250);
    margin: 0;
    background-color: #f27f79;
    text-align: center;
    font-size: var(--title-font);
    padding: 8px;
}

._results-product-header p{
    text-align: left;
    font-family: roboto-l;
    font-size: var(--description-font);
    padding: 0px 0px 0px 0px;
}

.box-help--flex-row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}

.box-help--flex-row button{
    background-color: #badac4;
    outline-style: none;
    border: none;
    font-size: var(--buy-font);  
    border-radius: 12px;
    padding: 12px;
    font-weight: bold;
    color: #ff5900fc;
    cursor: pointer;
}


.box-help--flex-row p:nth-child(1){
    color: black;
    font-weight: bold;
    font-size: var(--price-font);
}


