@import url(./css/normalize.css);
@import url(./css/font.css);

    
/* Aplicar a todos los elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}




body{
    background: rgb(159,158,166);
    background: linear-gradient(90deg, rgba(159,158,166,1) 0%, rgba(218,218,224,1) 33%, rgba(228,235,236,1) 100%);

}
nav{
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    background: rgb(154, 120, 76);
    background: linear-gradient(90deg, rgba(154,120,76,0.4) 0%, rgba(193,135,98,0.141631652661064) 77%);
    margin: 10px auto;
    width: 95%;
    height: 4rem;
}


ul {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    list-style: none;
    
    
}

ul li{
    cursor: pointer;
    font-family: comf-l;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0 10px;
    display: inline-block;
}

div#index-content{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    width: 80%;
    height: 40vh;
    max-height: 690px;
    overflow: hidden;
    
    
}

div.content_box-animation-slide{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 102%;
    height: 100%;
    animation-fill-mode: forwards;  
    transition: 1s;
}

div.content_box-animation-slide:nth-child(1){
    transform: translateX(0%);
    
}
div.content_box-animation-slide:nth-child(2){
    transform: translateX(100%); 
}

.slide-hidden{
    animation: sliderXa 1s ease-in;
}
.slide-show{
    animation: sliderXb 1s ease-in;
}

.content_image{
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
}

.image_info{
align-items: center;
background-color: rgba(2, 1, 1, 0.678);
color: aliceblue;
display: flex;
flex-direction: column;
font-family: roboto-l;
font-size: .9rem;
height: 100%;
justify-content: center;
position: absolute;
text-align: center;
transition: 0.2s;
width: 100%;
}

.image_info p{ 
    padding: 10px
}
    
.content_image img{
 aspect-ratio: 2/3;
 object-fit: cover;
 width: 100%;
 height: 100%;
 transition: 0.5s;
}

.index-info-search{
    margin: 20px auto;
    width: 80%;
    height: 100vh;
    
    
}

.index-info-search ._search-info-header {
    background: rgb(231, 193, 143);
    background: linear-gradient(150deg, rgba(233, 115, 92, 0.308) 19%, rgba(241, 115, 87, 0.37) 71%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    width: 100%;
}

.index-info-search ._search-info-header button{
    cursor: pointer;
    border-radius: 2px;
    font-family: roboto-m;
    padding: 10px;
    margin-left: 10px;
    border: rgb(209, 164, 164) 1px solid;
}

.index-info-search ._search-info-header input{
    box-sizing: border-box;
    font-size: 0.9rem;
    width: 50%;
    font-family: roboto-l;
    font-weight: 700;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.863);
    border: rgba(0, 0, 0, 0.747) 1px solid;
    outline-style: none;
    
}




/* SELECTORS*/

.content_image:nth-child(1) > .image_info,
.content_image:nth-child(3) > .image_info
{
    transform: translateY(100%);
}

.content_image:nth-child(2) > .image_info{
    transform: translateY(-100%);
}


.content_image:hover > .image_info{
    transform: translate(0,0);
}



nav ul li:nth-child(2){
    border-bottom: solid black 1px;
}


/* --------------*/


.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    background-color: rgb(131, 103, 125);
    width: 100%;
    
  }

  .container-results {
    display: flex;
    flex-direction: row;
    margin: 10px 5px;
    background-color: rgb(184, 141, 181);
    
    
  }

  .container img {
    width: 30%;
  }

._results-product-header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

._results-product-header h1{
    margin: 0;
    background-color: rgb(95, 70, 70);
    text-align: center;

}

.box-help--flex-row{
    display: flex;
    flex-direction: row;
    background-color: rgb(140, 140, 173);
    width: 100%;
    height: 100%;
}

.box-help--flex-row p{
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 90%;
    
}

.box-help--flex-row p:nth-child(1){
    align-items: center;
    font-family: roboto-l;
    font-weight: 500;
}

.box-help--flex-row p:nth-child(2){
    align-items: flex-end;
    font-family: roboto-m;
}





    @keyframes sliderXa {
        from {transform: translateX(0%);}
        to {transform: translateX(-100%); visibility: hidden;}
    }

    @keyframes sliderXb {
        from {transform: translateX(100%);}
        to {transform: translateX(0%);}
    }